.titulo-tema {
    margin-left: 15px;
    margin-bottom: 5px;
}
.btnModal {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}
/* .MuiButtonBase-root {
    color: rgb(0, 56, 0)!important;
} */
.MuiButtonBase-root{
    color: rgb(255, 255, 255)!important;
}
.renderPost{
    border-top: 1px;
    border-right: 0px;
    border-bottom: 1px;
    border-left:  0px;
    border-style: solid;
    border-color: var(--linhasColor);
    padding-left: 2.8%;
}
.time-post {
    margin-left: 20px!important;
    color:var(--bodyColor) !important;
}
.textosCard{
    color:var(--bodyColor) !important;   
}
.textosCard span{
    color:var(--bodyColor) !important;     
}
#navbarFeed{
    background-color: var(--navbarFeed);
    justify-content: center;
    color: var(--bodyColor);
    position: fixed;
    text-align: center;
    width: 49vw;
    display: flex;
    align-items: center;
    padding-left: 10px;
    z-index: 9988;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
}
.renderPost:hover{
    background-color: var(--bgHover);
}
@media (max-width:600px){
    #navbarFeed{
        width: 100vw;
    }
}