.titulo-tema {
    margin-left: 15px;
    margin-bottom: 5px;
}
.btnModal {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}

.MuiButtonBase-root{
    color: rgb(255, 255, 255)!important;
}
.renderPost{
    padding-right: 17%;
    
}
.jss8{
    background-color: var(--backgroundCards)!important;

}

.makeStyles-root-1{
    background-color: var(--backgroundCards)!important;

}

.makeStyles-root-8{
    background-color: var(--backgroundCards)!important;

}

.time-post {
    margin-left: 20px!important;
    color:var(--bodyColor) !important;
}
.textosCard{
    color:var(--bodyColor) !important;   
}
.textosCard span{
    color:var(--bodyColor) !important;     
}
#navbarFeed{
    background-color: var(--navbarFeed);
    justify-content: center;
    color: var(--bodyColor);
    position: fixed;
    text-align: center;
    width: 49vw;
    display: flex;
    align-items: center;
    padding-left: 10px;
    z-index: 9988;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
}
