.boxLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 25px;
  width: 65%;
  height: 35rem;
  padding: 0!important;
}
.retangulo1{

   width: 21.5rem;
   height: 28.4rem;
   background: #AEF202;
   background-size:cover ;
   border-radius: 0 53px;
}

/* .test{
  display: flex;
   flex-direction: row;
} */

.texto{
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
   font-style: italic;
   font-weight: 400!important;
   font-size: 2rem!important;
   line-height: 3.063rem;
   display: flex;
   text-align: center;
   color: #FFFFFF!important;
   text-shadow: 1px 1px #319F43;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}

.hexagonos{
  margin-left: 3px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
   width:20rem;
   mix-blend-mode: soft-light;
   direction: rtl;
 }
 .hexagonosBot{
   margin-left: 1rem;
   padding-top: 0.5rem;
   width:21rem;
   mix-blend-mode: soft-light;
   direction: rtl;
 }

.text-decorator-none{
    text-decoration: none;
}

.centraliza{
  display: flex!important;
  flex-direction: column!important;
  align-items: center!important;
  justify-content: center!important;
}

.logo{
   width: 15rem;
   margin-bottom: 1rem;
}

.retangulo2{
   background:rgba(86, 232, 2, 0.37);
   width: 19rem;
   height: 22.3rem;
   border-radius: 52px 0px;
   margin-bottom: 1%;
   margin-top:1%;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#usuario{
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
}

 #senha{
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
 }

/* .button{
    border-radius: 5px;
    background: darkgreen;
    rgba(46, 128, 3, 0.7) 
    text-align:center;   
    font-family: 'Alatsi';
    width: 13rem;
 } */

 #ou{
   color: #81857D;
   font-family: Anaheim;
   padding: 8px;
   margin: 0;
 }
 hr{
  margin: 0;
 }
 
 
 #google{
   border-radius: 40px;
   width: 15rem;
   background: rgba(255, 255, 255, 1) !important;
   text-align:center;
   text-transform: none!important;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 0.8rem ;
   margin-bottom: 1rem;
   margin-top: 0.6rem;
 }
 .googleIcon{
  width: 1rem;
  height: 1rem;
  margin-right: 3%;
  margin-bottom: 1%;
 }

 #conta{
   color: #319F43;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
   font-style: normal;
   font-weight: bold;
   align-items:center;
   justify-content: center;
   font-size: 17px!important;
  }
  #conta:hover {
    background-color: #81857d13;
    border-radius: 30px;
  }

 #novaSenha{
   color:#319F43;
   text-decoration-line: underline;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 13px;
   margin-top: 6px;
 }
 #novaSenha:hover {
  cursor: pointer;
 }
 #entrarButton{
  width: 15rem;
  font-weight: 300;
  background-color:darkgreen;
  color: #FFFFFF!important;
  margin-bottom: 0.7rem;
  text-transform: none!important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .box1{
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: transparent;
  height: fit-content;
  margin: 0;
 }
