.container{
  margin-bottom: 50px;
}

.retangulo1{
 margin-top:2%;
 width: 18.75rem;
 height: 28.125rem;
 background:rgba(255, 255, 255, 0.421);
 background-size:cover ;
 border-radius: 0px 119px;
 z-index: 9999;
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
 -moz-backdrop-filter: blur(4px);
}

/* .test{
display: flex;
 flex-direction: row;
} */

.texto{
 font-family: 'Aleo';
 font-style: italic;
 font-weight: 400;
 font-size: 1.313rem;
 line-height: 3.063rem;
 display: flex;
 text-align: center;
 color: #000000;
}

.hexagonos{
margin-left: 3px;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
 width:17.063rem;
 mix-blend-mode: soft-light;
 direction: rtl;
}
.hexagonosBot{
 margin-left: 1rem;
 padding-top: 0.5rem;
 width:17.063rem;
 mix-blend-mode: soft-light;
 direction: rtl;
}

.gridLogin{
padding-top: 5rem;
padding-bottom: 5rem;
}

.text-decorator-none{
  text-decoration: none;
}

.centraliza{
display: block;
padding-right: 10%;
padding-left: 10%
}
.logo{
margin-left: 20%;
display: block;
 margin-top: 4%;
 width: 12.625rem;
}

.retangulo2{
background:rgba(255, 255, 255, 0.421);
 width: 18.75rem;
 height: 28.125rem;
 border-radius: 52px 0px;
 margin-bottom: 2%;
 margin-top:1%;
 z-index: 9999;
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
 -moz-backdrop-filter: blur(4px);
}
.forms{
padding-left: 2.9rem;
padding-top: 2rem;
text-align: center;
width: 13rem;
}
#usuario{
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  font-family: 'Alef';
  height: 0.7rem;
}

#senha{
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  font-family: 'Alef';
  height: 0.7rem;
}

/* .button{
  border-radius: 5px;
  background: darkgreen;
  rgba(46, 128, 3, 0.7) 
  text-align:center;   
  font-family: 'Alatsi';
  width: 13rem;
} */

#ou{
color:rgb(253, 253, 253);
 font-family: Anaheim;
 padding: 8px;
 margin: 0;
}
hr{
margin: 0;
}


#google{
 border-radius: 40px;
 width: 13rem;
 background: rgba(255, 255, 255, 1) !important;
 text-align:center;
 font-family: 'Alef';
 font-size: 0.8rem ;
 margin-bottom: 0.2rem;
 margin-top: 0.6rem;
}
#esqueci{
display: block;
}
.googleIcon{
width: 1rem;
height: 1rem;
margin-right: 3%;
margin-bottom: 1%;
}
#esqueciSenha{
  color: #1F4710 !important;
  align-items:center;
  justify-content: center;
  font-size:x-small;
  text-decoration-line: underline;
}
#conta{
 color: #1F4710 !important;
 font-weight: bold;
 align-items:center;
 justify-content: center;
 font-size: small;
}

#novaSenha{
 color:#319F43;
 text-decoration-line: underline;
 font-family: 'Alef';
 font-size: small;
}
#entrarButton{
width: 13rem;
font-weight: 300;
background-color:#1F4710;
color:rgb(253, 253, 253) !important;
margin-bottom: 0.7rem;
}
.box1{
display: flex;
align-items:center;
justify-content: center;
background-color: transparent;
height: fit-content;
margin: 0;
}

@media (max-width:600px) {
  #boxLogin-Secundaria {
    display: none !important;
  }

  .gridLogin {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #retangulo2{
    margin-right: 0px;
  }

  #gridLogin-primario {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}