#navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 98vw;
    text-align: center;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.221);
}
#navbar p{
    color: white !important;
    margin-top: 28%;
    padding-right: 15px;
}


#logoNavbar {
    height: 90%;
    padding: 8px;
}