body{
    background-color: var(--bodyBg)!important;

}

/* card de dados do usuario */
.css-bhp9pd-MuiPaper-root-MuiCard-root{
    width: 50%!important;
    margin-left: 38%;
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/* capa do card de dados do usuario */
.css-o69gx8-MuiCardMedia-root{
    height: 15rem!important;
}

.card-container{
    display: flex;
    flex-direction: column;
    
}

.profileImage {
    object-fit: cover;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: -10%;
    margin-left: 1rem;
}
#renderPerfil{
    background-color: var(--bodyBg);
    display: flex;
    justify-content: center;
}
.profile-name {
    margin: 20px;
    font-size: 30px!important;
    font-weight: 200;
}
.profile-email {
    margin: 20px;
    font-size: 20px!important;
    font-weight: 200;
}
.profile-local {
    margin: 20px;
    font-size: 15px!important;
    font-weight: 200;
}

.titulo-tema {
    margin-left: 15px;
    margin-bottom: 5px;
}
.btnModal {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}
.MuiButtonBase-root {
    color: #1C1C1C!important;
}

#containerProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15vw;
    background-color: var(--bodyBg);
    color: var(--bodyColor);
    padding-top: 50px;
    background-color: var(--bodyBg);

}

.hover{
    margin-left: 22%!important;

}

.hover:hover{
    background-color: var(--bgHover);
    
}
