.profileImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    background-color: var(--bodyBg);
    color: var(--bodyColor);
    padding-top: 50px;
}
.profileImage {
    object-fit: cover;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
}
#renderPerfil{
    background-color: var(--bodyBg);
    height: 100vh;
    display: flex;
    justify-content: center;
}
.profile-name {
    margin: 20px;
    font-size: 30px!important;
    font-weight: 200;
}
.profile-email {
    margin: 20px;
    font-size: 20px!important;
    font-weight: 200;
}
.profile-local {
    margin: 20px;
    font-size: 15px!important;
    font-weight: 200;
}
.linha-perfil {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;
}



.titulo-tema {
    margin-left: 15px;
    margin-bottom: 5px;
}
.btnModal {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}
.MuiButtonBase-root {
    color: #1C1C1C!important;
}
.time-post {
    margin-left: 20px!important;
}

.caixa{
    justify-content: space-between;
    margin-left: 12vw;
    background-color: var(--bodyBg);
}

.caixa h3{
    text-align: center;
    padding-left: 12vw;
    margin: 0px;
    color: var(--bodyColor);
    padding-bottom: 25px;
}