.grid-maior {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bodyBg);
    color: var(--bodyColor);
    height: 100vh;
}
.inputAtualiza{
    background-color: var(--BodyBg) !important;
    color: var(--bodyColor) !important;
}
.inputAtualiza input{
    background-color: var(--subTomBg2)!important;
    color: var(--bodyColor) !important;
}
.inputAtualiza::-webkit-input-placeholder{
    color:var(--bodyColor);
    background-color: var(--subTomBg2);
    text-transform: uppercase;
    font-style: bold;
}

.inputAtualiza::-moz-placeholder {
    color:var(--bodyColor);
    background-color: var(--subTomBg2);
    text-transform: uppercase;
    font-style: bold;
}
.box-status {
    display: flex;
    justify-content: center;
}
#caixaDados{
    background-color: var(--subTomBg);
    border-radius: 20px;
    
}
.caixa-foto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--subTomBg);
    border-radius: 20px;
}
.foto-user {
    border-radius: 50%;
    border: 5px solid var(--BodyBg);
}
.btn-trocaFoto {
    margin-top: 20px;
    background-color: var(--BodyBg);
    border: 0;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    transition: 0.1ms;
    font-weight: bold;
}
.btn-trocaFoto:hover {
    background-color: var(--BodyBg);
}
.caixa-dark {
    color: var(--bodyColor);
    background-color: var(--subTomBg);
    padding: 0!important;
    margin-top: 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.caixa-dark:hover {
    background-color: var(--subTomBg2);
}
.texto-dark {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dark-icon {
    margin-right: 20px;
}
.user-titulo {
    display: flex!important;
    justify-content: center;
    align-items: center!important;
    font-size: 25px!important;
    margin-top: 10px!important;
    /* margin-bottom: 10px!important; */
}
.atributos-user {
    display: flex;
    align-items: center;
    width: 100px;
    border-radius: 20px;
}
.user-texto {
    background-color: var(--BodyBg) !important;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    margin-left: 20px!important;
    display: flex;
    align-items: center!important;
}
.form-perfil {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column!important;
}
#user-img {
    background-color: var(--bodyBg);
}
.inputfile {
    margin-top: 10px;
    background-color: var(--bodyBg);
}
.btn-save {
    margin-top: 10px;
    background-color: #4b9e1b!important;
    color: var(--bodyColor)!important;
    margin-top: 10px!important;
    border-radius: 30px!important;
    margin-bottom: 12px!important;
}
.form {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.btnEdit {
    background-color: #4b9e1b!important;
    color: var(--bodyColor)!important;
    margin-top: 10px!important;
    border-radius: 30px!important;
    margin-bottom: 12px!important;
    padding: 10px;
    margin-right: 10px;
}
.btnEdit:hover {
    background-color: var(--BodyBg);
    cursor: pointer;
}
#formAtualizar{
    margin: 0px;
}
#formAtualizar form{
    background-color: var(--subTomBg) !important;
    color: var(--bodyColor) !important;
    z-index: 9999;
    width: 400px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
}
/* .makeStyles-paper-49{
    background-color: var(--BodyBg) !important;
    color: var(--bodyColor) !important;
} */
#ultimoInput{
    margin-bottom: 15px;
}