.grid-maior {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px!important;
}
.box-status {
    display: flex;
    justify-content: center;
}
.caixa-foto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.foto-user {
    border-radius: 50%;
    border: 5px solid #FFFFFF;
}
.btn-trocaFoto {
    margin-top: 20px;
    background: #FFFFFF;
    border: 0;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    transition: 0.1ms;
    font-weight: bold;
}
.btn-trocaFoto:hover {
    background: #b7d865;
}
.caixa-dark {
    padding: 0!important;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.caixa-dark:hover {
    width: 310px;
    cursor: pointer;
}
.texto-dark {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dark-icon {
    margin-right: 20px;
}
.user-titulo {
    display: flex!important;
    justify-content: center;
    align-items: center!important;
    font-size: 25px!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.atributos-user {
    display: flex;
    align-items: center;
}
.user-texto {
    background: #FFFFFF;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    margin-left: 20px!important;
    display: flex;
    align-items: center!important;
}
.form-perfil {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column!important;
}
#user-img {
    background-color: #FFFFFF;
}
.inputfile {
    margin-top: 10px;
    background-color: #FFFFFF!important;
}
.btn-save {
    margin-top: 10px;
}
.form {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.btnEdit {
    background: #FFFFFF!important;
    width: 150px;
    height: 30px;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: 1px solid #b7d865!important;
}
.btnEdit:hover {
    background: #b7d865!important;
    cursor: pointer;
}