

/* .containerD:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.containerE:hover{
    transform: translateY(-5px);
    cursor: pointer;
} */

.imgSobre{
    height: 200px;
    border-radius: 10%; 
    padding-left: 15px;
}

.titulos{
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}
.sobrenosLeft{
    text-align: justify;
    padding-left: 15px;
    width: 25rem;
    align-items: center;
}
.sobrenosRight{
    text-align: justify;
    width: 25rem;
    margin-top: auto;
    margin-bottom: auto;
}
.containerSobre{
    padding-bottom: 50px;
}
.centralizaSobre{
    margin-top: auto;
    margin-bottom: auto;
}
.tituloSobre{
    /* padding-top: 10px; */
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
}
.bigContainerSobre{
    padding-top: 80px;
    
}