.containerE{
    
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin: 10px;
    background-image: linear-gradient(to bottom right, #f7f7f78c,#ffffff);

    /* border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out; */
}

.containerE2{
    
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin: 10px;
    padding-top: 100px;
    background-image: linear-gradient(to bottom right, #f7f7f78c,#ffffff);

    /* border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out; */
}

.containerD{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: end;
    margin: 10px;

    background-image: linear-gradient(to bottom right,#ffffff, #f7f7f78c);
    /* border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out; */ 

}   

/* .containerD:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.containerE:hover{
    transform: translateY(-5px);
    cursor: pointer;
} */

.img{
    width: 300px;
    border-radius: 10%; 
}

.titulos{
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}



/* body{
    background-image: linear-gradient(to bottom right,#ffffff, #53ff508c);
} */