.box1{
    margin-top: 2rem;
    background-color: #dddddd;
    height: 8rem;
    display: block;
}

.box2{
    background-color:#dddddd;
    height: 8rem;
    display: block;
    margin: 0;
}

.redes{
    font-size: 1.5rem !important;
    color: rgb(0, 0, 0);
}

.textos{
   color: rgb(0, 0, 0);
   font-size: x-small;
}

.textoCor {
    text-decoration: none;
}