*{
   
    
    /* overflow: auto; */

}
.fundo-criarPost {
    display: flex;
    justify-content: center;
    background-color:var(--subTomBg)!important;
    color: var(--bodyColor);
    padding: 10px;
    margin-right: 80px!important;
    margin-bottom: 0px!important;
    margin-top: 5px;
    border: 0px !important;
    border-radius: 30px!important;
    z-index: 9999;
}
.makeStyles-paper-11{
    background-color:var(--subTomBg)!important;
    color: var(--bodyColor); 
    border-radius: 15px;


}

.makeStyles-paper-6{
    background-color:var(--subTomBg)!important;
    color: var(--bodyColor); 
    border-radius: 15px;


}

.jss5{
    background-color:var(--subTomBg)!important;
    color: var(--bodyColor); 
    border-radius: 15px;
}

.makeStyles-paper-5{
    background-color:var(--subTomBg)!important;
    color: var(--bodyColor); 
    border-radius: 15px;


}

.inputAtualiza{
    background-color:var(--subTomBg)!important;
    color: var(--bodyColor)!important;
}
.MuiMenu-list{
    background-color:var(--subTomBg)!important;
    color: var(--bodyColor)!important;
    color: aliceblue;
}

.MuiMenuItem-root{
    color: aliceblue;

}

.makeStyles-paper-13{
    width: 400px !important;
    margin-top: 25px;
    border: 0px !important;
    padding: 20px !important;
    position: absolute;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
    background-color:transparent !important;
    z-index: 9999 !important;
}
.makeStyles-paper-13 svg{
    fill: var(--bodyColor) !important;
    z-index: 9999 !important;
}
.topo{
    margin-top: 90px;
}
.titulo-criarPost {
    font-size: 35px!important;
    margin-bottom: 10px!important;
    color: var(--bodyColor)!important;
}
.btnCriar {
    background-color: #4b9e1b!important;
    color: var(--bodyColor)!important;
    margin-top: 10px!important;
    border-radius: 30px!important;
    margin-bottom: 12px!important;
}

/* .button {
    background: #6a7dfe; background: -webkit-linear-gradient(to left, #21d4fd, #b721ff); 
    background: -o-linear-gradient(to left, #21d4fd, #b721ff); 
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff); 
    background: linear-gradient(to left, #21d4fd, #b721ff);
} */