:root{
    --bodyBg: rgb(253, 253, 253);
    --bodyColor: black;
    --bodyLink: black;
    --subTomBg:rgb(230, 230, 230);
    --subTomColor: rgb(23, 23, 23);
    --subTomBg2:rgb(209, 209, 209);
    --linhasColor: rgb(93, 93, 93);
    --navbarFeed: rgba(153, 153, 153, 0.588);
    --bgHover: rgb(240, 240, 240);
    --backgroundCards: rgb(255, 255, 255);

}
#nomeUsuario{
    padding-left: 10px;
}
.darkMode:root{
    --bodyBg: black;
    --bodyColor: white;
    --bodyLink: white;
    --subTomBg:rgb(15, 15, 15);
    --subTomColor: rgb(228, 228, 228);
    --subTomBg2:rgb(126, 125, 125);
    --linhasColor: rgb(93, 93, 93);
    --navbarFeed: rgba(0, 0, 0, 0.588);
    --bgHover: rgb(8, 8, 8);
    --backgroundCards: rgb(68, 68, 68);
}

#sidebarContainer{
    width: 25vw;
    background-color: var(--bodyBg);
    color: var(--bodyColor) !important;
    height: 100vh;
    padding-right: 34px;
    /* width: 100%; */
    position: fixed;
    padding-left: 25px;
        border-top: 0px;
    border-right: 1px;
    border-bottom:  0px;
    border-left:  0px;
    border-style: solid;
    border-color: var(--linhasColor);
}
.iconsUl{
    color: var(--bodyColor) !important;
    list-style-type: none; 
    padding-right: 10px;
    height: 1.5rem !important;
    display: flex;
    align-items: center;
}

.fotosidebar{
    display: flex;
    width: 50px;
    border-radius: 50%;
    display: flex;
    gap: 15px;
}
.listedItem{
    color: var(--bodyColor) !important;
    list-style-type: none; 
    font-size:1rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.listedItem:hover{
    background-color: var(--subTomBg2);
}
#menuSidebar{
    margin-top: 20%;
    padding-left: 20px;
    margin-right: 15px;
}
#DadosDoUsuario{
    padding-left: 20px;
}
#divisor{
    margin-top: 10%;
    display: flex;
}
#navSidebar{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#profilePic{
    padding-left: 20px;
}
#sidebarRender{
 padding-right: 20px;
}