:root{
    --bodyBg: black;
    --bodyColor: white;
    --bodyLink: white;
    --subTomBg:rgb(15, 15, 15);
    --subTomColor: rgb(228, 228, 228);
    --subTomBg2:rgb(31, 31, 31);
    --linhasColor: rgb(93, 93, 93);
    --navbarFeed: rgba(0, 0, 0, 0.588);
}
.darkMode:root{
    --bodyBg: rgb(253, 253, 253);
    --bodyColor: black;
    --bodyLink: black;
    --subTomBg:rgb(240, 240, 240);
    --subTomColor: rgb(23, 23, 23);
    --subTomBg2:rgb(229, 229, 229);
    --linhasColor: rgb(190, 190, 190);
    --navbarFeed: rgba(153, 153, 153, 0.588);
}

#sidebarContainer{
    background-color: var(--bodyBg);
    color: var(--bodyColor) !important;
    height: 100vh;
    width: 20vw;
    position: fixed;
    padding-left: 25px;
}
.iconsUl{
    color: var(--bodyColor) !important;
    list-style-type: none; 
    padding-right: 10px;
    display: flex;
    gap: 15px;
}
.listedItem{
    color: var(--bodyColor) !important;
    list-style-type: none; 
    font-size:1rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.listedItem:hover{
    background-color: var(--subTomBg2);
}
#menuSidebar{
    margin-top: 20%;
    padding-left: 20px;
}
#DadosDoUsuario{
    padding-left: 20px;
}
#divisor{
    margin-top: 10%;
    display: flex;
}
#navSidebar{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#profilePic{
    padding-left: 20px;
}